body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #333;
    color: white;
}
html {
    overflow-y: scroll; /* Her zaman sabit bir kaydırma çubuğu gösterir */
}
/* Ana ekran başlığı */
.main-header {
    display: flex;
    justify-content: space-between; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: rgba(74, 11, 11, 0.8); /* Navbar background color */
    padding: 20px 0; /* Top and bottom padding to create space */
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo img {
    width: 70px;
    height: auto;
    margin-top: -5px;
    margin-left: 10px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: var(--max-width); /* Ensure this variable is defined in your CSS */
    margin: auto;
    text-decoration: none;
    
}

.nav_bar {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    position: relative;
    z-index: 150;
}

/* İkonlar */
.icons-container {
    display: flex; /* İkonları yan yana diz */
    align-items: center; /* Dikey olarak ortala */
    gap: 15px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.login-icon {
    position: absolute;
    top: 25px;
    right: 70px;
    display: flex;
}

.light {
    position: absolute;
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-size: 20px;
    margin-left: 900px;
    top: 25px;
    right: 18px;
}

.cart-icon {
    position: absolute;
    top: 25px;
    left: 1355px;
    display: flex;
 
}

/* Arama çubuğu */
.search-icon {
    position: relative;
    align-items: center;
    display: flex;
    margin-left: 20px; 
    z-index: 1;
    top: 4px;
    left: 150px;
}
.search-icon .circle i {
    color: black;
    font-size: 20px;
    margin-top: -4px;
    margin-left: -295px;
}


/* search kutusu */
#search-box {
    display: none; /* Başlangıçta gizli */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    position: absolute;
    top: 8px; /* İkonun konumuna göre ayarlayın */
    right: -170px; /* İkonun konumuna göre ayarlayın */
    z-index: 10;
    background-color: white;
}

#search-box input {
    width: 100%; /* Kutunun içinde tam genişlik */
    border: none; /* Kenarlık yok */
    border-radius: 4px; /* Köşe yuvarlama */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

#search-box input:focus {
    outline: none; /* Kenarlık dışında bir görünüm yok */
}

#noResultsMessage {
    margin-top: 10px;
    font-weight: bold;
}

/* Navbar menü stilleri */
/* Navbar menü stilleri */
ul.menu {
    position:absolute;
    flex-grow: 0;
    right: 300px;
    justify-content: center;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
    isolation: isolate;
    margin-top: 5px;
}

ul.menu li {
    display: inline; /* Menüyü yan yana diz */
    isolation: isolate;
    display: flex;
    
}

ul.menu li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    isolation: isolate;
    display: flex;

}

ul.menu li a:hover {
    background-color: #e0a4a4; 
    border-radius: 5px; 
    z-index: 10;
}

/* Hero Image */
.main_image {
    position: relative; /* Positioning context for absolute children */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Hide overflow to crop the image */
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.main_image img {
    position: absolute; /* Position the image absolutely */
    top: 50%; /* Move the image down */
    left: 50%; /* Move the image right */
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    min-height: 100%; /* Ensure it covers the entire height */
    transform: translate(-50%, -50%); /* Center the image */
}

/* Text styling */
.main_text {
    position: absolute; /* Position text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the text */
    color: white; /* Text color */
    text-align: center; /* Center text */
    opacity: 0;
    transition: opacity 2s ease-out, transform 2s ease-out;
    z-index: 1; /* Ensure it stays above the background */
}
.main_text h2 {
    font-size: 2.5rem;
    margin: 0;
}

.main_text p {
    font-size: 1.2rem;
}

.main_text.animate {
    opacity: 1; /* Görünür yap */
    transform: translate(-50%, -50%) scale(1.2); /* Orijinal boyut */
}

/* Hakkımızda */

.about-title {
    text-align: center; /* Yazıyı ortala */
    font-size: 28px; /* Başlık boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-top: 100px; /* Üst boşluk, ana resim ile başlık arasında */
    margin-bottom: -5px; /* Alt boşluk, başlık ile içerik arasında */
    position: relative; /* Konum ayarı */
    display: flex; /* Esnek kutu modeli */
    align-items: center; /* Dikey hizalama */
    justify-content: center; /* Yatay hizalama */
}

.about-title::before,
.about-title::after {
    content: ""; /* İçerik yok */
    flex: 1; /* Çizgilerin esnekliği */
    height: 2px; /* Çizgi kalınlığı */
    background-color: #8B4513; /* Çizgi rengi (koyu kahverengi) */
    margin: 0 15px; /* Yazı ile çizgi arasındaki boşluk */
    border-radius: 2px; /* Hafif yuvarlak köşe */
    opacity: 0.7; /* Şeffaflık */
}


.about-container {
    overflow: hidden;
    display: flex; /* Flex kullanarak düzenleme yapıyoruz */
    align-items: flex-start;
    max-width: 600px;
    margin: auto;
    opacity: 0; /* Başlangıçta görünmez */
    transform: translateY(-200px); /* Yukarıda başlama */
    transition: opacity 1s ease, transform 1s ease; /* Geçiş efektleri */
}

.about-container.visible {
    opacity: 1; /* Görünür hale gelir */
    transform: translateY(0); /* Normal konumuna döner */
}

.about-content {
    flex: 1; /* İçeriği esnek hale getir */
    display: flex; /* Flex kullanarak düzenleme yapıyoruz */
    align-items: center;
}

.about-image {
    flex: 1; /* Görsel alanı esnek hale getir */
    position: relative;
    text-align: center;
}

.about-image img {
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 50px;
    height: auto;
    position: sticky;
    top: 20px;
    transition: opacity 2s ease, transform 2s ease; /* Geçiş süresi artırıldı */
}


.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    display: flex; /* Flex kullanarak düzenleme yapıyoruz */
}

.about-description {
    text-align: left; /* Metni sola hizala */
    margin: 0; /* Varsayılan margin'leri kaldır */
    padding: 0; /* Varsayılan padding'leri kaldır */
    max-width: 600px;
    font-size: 20px;
    opacity: 0; /* Başlangıçta görünmez */
    transform: translateY(30px); /* Aşağıdan yukarıya çıkma efekti */
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.about-description.animate {
    opacity: 1; /* Görünür yap */
    transform: translateY(0); /* Yukarı kaydır */
}

.section-header {
    margin-bottom: 10px;
    font-size: 24px;
    position: relative;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

.section-header::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(1rem, -50%);
    height: 2px;
    width: 4rem;
    background-color: rgba(74, 11, 11, 0.8);
}


/* Yemek kategorileri */

/* Kategori başlığı */
.category-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-title::before,
.category-title::after {
    content: "";
    flex: 1;
    height: 2px; /* Çizgi kalınlığı */
    background-color: #8B4513; /* Çizgi rengi (koyu kahverengi) */
    margin: 0 15px; /* Yazı ile çizgi arasındaki boşluk */
    border-radius: 2px; /* Çizgilere hafif yuvarlak köşe */
    opacity: 0.7; /* Şeffaflık */
}

/* Yemek kategorileri */
.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Kategori */
.category {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    aspect-ratio: 1 / 1; /* Kare görünümü sağlar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0; /* Başlangıçta görünmez */
    transform: translateY(-20px); /* Yukarıdan aşağıya kaydırma efekti */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Animasyon süreleri */
    
}

.category.visible {
    opacity: 1; /* Görünür hale gelir */
    transform: translateY(0); /* Normal konumuna döner */
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.category h4 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
.category:hover {
    transform: scale(1.1); /* Üzerine gelindiğinde %10 büyütme */
    z-index: 1; /* Büyütüldüğünde öne çıkması için z-index artırılır */
    transition: transform 0.5s ease; /* Animasyon süresi */
}


/* iletişim Stil Ayarları */

.iletisim-title {
    text-align: center; /* Yazıyı ortala */
    font-size: 28px; /* Başlık boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-top: 70px; /* Üst boşluk, ana resim ile başlık arasında */
    margin-bottom: 50px; /* Alt boşluk, başlık ile içerik arasında */
    position: relative; /* Konum ayarı */
    display: flex; /* Esnek kutu modeli */
    align-items: center; /* Dikey hizalama */
    justify-content: center; /* Yatay hizalama */
}

.iletisim-title::before,
.iletisim-title::after {
    content: ""; /* İçerik yok */
    flex: 1; /* Çizgilerin esnekliği */
    height: 2px; /* Çizgi kalınlığı */
    background-color: #8B4513; /* Çizgi rengi (koyu kahverengi) */
    margin: 0 15px; /* Yazı ile çizgi arasındaki boşluk */
    border-radius: 2px; /* Hafif yuvarlak köşe */
    opacity: 0.7; /* Şeffaflık */
}
.iletisim {
    background-color: #8B4513; /* Yeni arka plan rengi (Açık Kahverengi) */
    color: white; 
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

.iletisim-container {
    max-width: 1200px; /* Sayfanın genişliğiyle orantılı yapar */
    margin: 0 auto; /* Ortalar */
    padding: 0 20px; /* Yanlardan içeriklere boşluk bırakır */
}

.iletisim-container p {
    margin: 10px 0; /* Üst ve alt boşluk */
    font-size: 14px; /* Yazı boyutunu optimize eder */
}

/* Responsive ayarları */
@media (max-width: 768px) {
    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .categories-container {
        grid-template-columns: 1fr;
    }
}
